
<section id="quizzes-section">

    <div class="quiz-main-wrap">
        
        <% quizzes.forEach(quiz => {    %> 

            <div class="quiz" id="<%= quiz._id %> ">

                <h4> <%= quiz.title %> </h4>
                <div class="p-div">
                    <p> <%= quiz.description %>  </p>
                </div>
                <div class="toughness">
                    <p> <%= quiz.toughness %> </p>
                </div>

                <input type="hidden" value="<%= JSON.stringify(quiz.questions) %>" id="selected-quiz-questions">
                <a href="/quizzes/<%= quiz._id %>"><button id="quiz-btn-home" onclick="selectedQuiz('<%= JSON.stringify(quiz.questions) %>')">Start Quiz</button></a>

            </div>
            
        <% }); %> 

    </div>

</section>
