<section class="quiz-section">

    <form id="form">
    <div>

        <input id="currentQuiz" type="hidden" value="<%= JSON.stringify(quiz) %>">
        
        <% quiz.questions.forEach(question=>{    %> 

            <h4>Q<%= question.qid %>. <%= question.ques %> </h4>

            <% for(let i=0; i<question.options.length; i++) {  %> 

                

                    <div class="option-div">

                        <input class="radio-btn radio" type="radio" name="<%= question.id %>" id="<%= question.id %><%= i %>">

                        <label for="<%= question.id %><%= i %>"><%= question.options[i] %></label> <br>
    
                    </div>

                
                
                
            <% } %> 

        <% }) %> 
        
                 
    </div>
    <button id="submit-btn">Submit</button>
    </form>  
</section>